

    <div class="row">
      <div class="col-12">
        <section class="container-fluid card">
  
          <section class="row" id="menuHead">
            <div class="col-12" style="padding:0">
              <img src="./assets/images/tsp.png" id="hlimage" class="img-fluid center-block" alt="...">
            </div>
          </section>
  
  
          <nav id="navBar" class="row">
            <mat-tree id="mt" [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <button class="disable_btn" mat-icon-button disabled></button>
                <a routerLink="/crisis-center" routerLinkActive="active">{{node.name}}</a>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <a routerLink="/crisis-center" routerLinkActive="active">{{node.name}}</a>
  
              </mat-tree-node>
            </mat-tree>
          </nav>
  
        </section>
  
      </div>
    </div>
